.sidebar {
  background-color: white;
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 76px; 
  width: 72px;
  cursor: pointer;
}

.sidebar-container:hover {
  background-color: rgb(230, 230, 230);
}

.sidebar img {
  height: 24px;
}

.sidebar p {
  font-family: Roboto, Arial;
  font-size: 10px;
  margin-top: 5px;
}

@media (min-width: 1200px) {
  .sidebar-container {
    height: 50px;
    width: 230px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
  }
  .sidebar-container img{
    padding-right: 20px;
  }
  .sidebar-container p {
    font-size: 15px;
    font-weight: 500;
    margin-top: 0px;
  }
}